#     AUTOEXEC CONFIG FILE
# by pedro

alias "aimbotz" "map_workshop 3070244462 aim_botz"
alias "training" "map_workshop 3604696412 training"
alias "aimhub" "map_workshop 3086023598 aimhub"


bind "1" "slot1"
bind "2" "slot2"
bind "3" "slot3"
bind "4" "slot4"
bind "5" "slot5"
# bind "6" ""
# bind "7" ""
# bind "8" ""
# bind "9" ""
# bind "0" ""
bind "z" "slot8"  # smoke
bind "x" "slot7"  # flash
bind "c" "slot6"  # grenade
bind "v" "slot10" # moli
bind "q" "lastinv"
bind "f" "+lookatweapon"
bind "l" "switchhands"
bind "alt" "+voicerecord"
bind "SPACE" "+jump"
bind "MOUSE1" "+attack"
bind "MOUSE2" "+attack2"
bind "MWHEELUP" "+jump"
bind "MWHEELDOWN" "+jump"
bind "MOUSE4" "+lookatweapon"
bind "MOUSE5" "switchhands"
bind "n" "incrementvar toggle gameinstructor_enable 0 1 1"
bind "m" "incrementvar cl_crosshair_recoil 0 1 1"
bind "p" "noclip"


con_enable "true"
crosshair "true"
cl_crosshair_drawoutline "false"
cl_crosshair_outlinethickness "0.000000"
cl_crosshair_recoil "false"
cl_crosshair_sniper_width "1"
cl_crosshair_t "false"
cl_crosshairalpha "255"
cl_crosshaircolor "5"
cl_crosshaircolor_b "255"
cl_crosshaircolor_g "0"
cl_crosshaircolor_r "255"
cl_crosshairdot "false"
cl_crosshairgap "-2.400000"
cl_crosshairgap_useweaponvalue "false"
cl_crosshairsize "1.700000"
cl_crosshairstyle "4" # Estilo 4 (Clássico Estático)
cl_crosshairthickness "0.100000"
cl_crosshairusealpha "true"
cl_fixedcrosshairgap "0.000000"
cl_debounce_zoom "true"
cl_sniper_auto_rezoom "false"
cl_crosshair_dynamic_maxdist_splitratio "0.300000"
cl_crosshair_dynamic_splitalpha_innermod "1.000000"
cl_crosshair_dynamic_splitalpha_outermod "0.500000"
cl_crosshair_dynamic_splitdist "7"
cl_grenadecrosshair_decoy "false"
cl_grenadecrosshair_explosive "false"
cl_grenadecrosshair_fire "false"
cl_grenadecrosshair_flash "false"
cl_grenadecrosshair_keepusercrosshair "true"
cl_grenadecrosshair_smoke "true"
cl_grenadecrosshairdelay_decoy "2.000000"
cl_grenadecrosshairdelay_explosive "2.000000"
cl_grenadecrosshairdelay_fire "2.000000"
cl_grenadecrosshairdelay_flash "2.000000"
cl_grenadecrosshairdelay_smoke "2.000000"

cl_prefer_lefthanded "false"

cl_hud_color "1"
cl_radar_square_always "false"
cl_radar_scale "0.300000"

cl_buymenu_ct_nextround_high "5000"
cl_buymenu_ct_nextround_low "1400"
cl_buymenu_t_nextround_high "5000"
cl_buymenu_t_nextround_low "1400"
cl_buywheel_donate_key "0"
cl_buywheel_nonumberpurchasing "true"
cl_use_opens_buy_menu "true"

cl_showloadout "true"
cl_silencer_mode "0"

m_pitch "0.022000"
m_yaw "0.022000"
sensitivity "1.000000"
sensitivity_y_scale "1.000000"
viewmodel_fov "60.000000"
viewmodel_offset_x "2.500000"
viewmodel_offset_y "2.000000"
viewmodel_offset_z "-2.000000"
zoom_sensitivity_ratio "1.000000"

hud_showtargetid "true"

voice_vox "0"             # Modo de voz (0 = Push-to-Talk)
volume "1.000000"
snd_gamevoicevolume "1.000000"
snd_gamevolume "1.000000"
snd_voipvolume "1.000000"
snd_musicvolume "0.200000"
snd_menumusic_volume "0.000000"
snd_mvp_volume "0.20000"
snd_roundend_volume "0.20000"
snd_roundstart_volume "0.20000"
snd_roundaction_volume "0.20000"
snd_tensecondwarning_volume "0.400000"
snd_deathcamera_volume "0.160000"
snd_mapobjective_volume "0.360828"
snd_menumap_volume "1.000000"

fps_max "0"
rate "786432"
snd_mixahead "0.001000"
fov_desired "75.000000"


# Grava as configurações e garante que o autoexec seja aplicado.
host_writeconfig

echo ">>> Autoexec.cfg carregado com sucesso! <<<"